.container{
  text-align: center;
  font-size: 0.8em;
}

h1{
  padding: 20px; 0
}

h3{
  padding: 10px 0;
}

img {
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}

.foto{
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px
}

hr{
  margi-bottom: 20px;
}
